h1, h2, h3, p {
  margin: 0;
}
h1 {
  font-size: 3.0rem;
}
h2 {
  margin-top: 0.7em;
  font-size: 2.0rem;
  border-bottom: 1px solid #333;
  padding-bottom: 0.2em;
  margin-bottom: 0.0em;
}
h3 {
  display: flex;
  font-size: 1.8rem;
  align-items: baseline;
  gap: 10px;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}


:root {
  --background: #ffe7cf;
  --background2: #FFEBD6;
  --color: #1f1300;
  --other-bg: #040309;
  --other-color: #FFE9E9;
  --blue: #2b4162;
  --orange: #db504a;
  --red: #7b1b0d;
  --green: #3f784c;
  --pink: #a188a6;
  --grey: #555358;
  --brown: #391700;
  --dark-red: #230903;
  --white-yellow: #EDF7B5;
  --ash: #332e3c;
  --dark-blue: #3b6064;
  --copper: #730517;
  --cyan: #2E9599;

  
}

html.dark-theme {


  
  --background: #040309;
  --background2: #0A0911;
  --color: #FFE9E9;
  --other-bg: #ffe7cf;
  --other-color: #1f1300;
  --blue: #9FAAFF;
  --orange: #FF3939;
  --red: #FF173A;
  --green: #64E369;
  --pink: #FF7BCC;

  --white-yellow: #EDF7B5;
  --brown: #9C3C3C;

  --ash: #777184;
  
  --dark-blue: #8E94F2;
  --copper: #730517;
  --cyan: #2E9599;

  
  
}

#theme-toggle {
  background-color: var(--other-bg);
  border: none;
  color: var(--other-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  align-items: end;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--background);
  color: var(--color);
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
}
/* body { */
  /* font-family: system-ui, sans-serif; */
  /* background: #0F0A0F; */
  /* color: #FFE9F3; */
  /* margin: 0; */
  /* text-align: left; */
  /* font-size: 1.5rem; */
/* } */
.status-finished,
.status-in-progress,
.status-on-hold,
.status-unfinished {
  font-size: 0.75em;
  border: 1px solid #333;
  padding: 2px 6px;
  border-radius: 4px;
}
.status-finished{ color: var(--green); }
.status-in-progress{ color: var(--orange); }
.status-on-hold{ color: var(--red); }
.status-unfinished{ color: var(--ash); }

.container {
  max-width: 1200px;
  margin: 80px auto;
  margin-top: 0;
  padding: 30px;
  padding-top: 10px;
}
.container-right {
  /* max-width: 1200px; */
  /* margin: 0; */
  /* margin-top: 0; */
  /* padding: 0; */
  /* padding-top: 0; */
  display: flex;
  justify-content: flex-end;  

}
.subtitle {
  color: var(--ash);
  margin: 0;
  margin-bottom: 0.5em;
}

.featured {
  border-bottom: 1px solid #333;
  padding-bottom: 60px;
  margin-bottom: 30px;
}
.project {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  align-items: start;
  grid-template-columns: 1fr 510px; 
  display: grid;
  gap: 20px;
  padding: 20px 0;
}
section .project:not(:last-of-type) {
  border-bottom: 1px solid #222;
}

.project-content {
  grid-column: 1;
  
}

.previews {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
}
.preview {
  border: 1px solid #222;
}
@media (max-width: 800px) {
  .project {
    grid-template-columns: 1fr;
  }

  .previews {
    grid-column: 1;
  }
}
.details {
  margin-top: 0.5em;
  padding-left: 18px;
  color: var(--color);
  margin-bottom: 0.6em;
  font-size: 0.9em;
}

.details li {
  margin-bottom: 0.3em;
}
.tech {
  margin-top: 0.6em;
  color: var(--ash);
  font-size: 0.8em;
}

.links {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
  font-size: 0.8em;
}

.links a {
  color: var(--blue);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

article {
  max-width: 1200px;
  line-height: 1.5;
  margin: 10px auto;
}
article container {
  max-width: 1200px;
  /* margin: 80px auto; */

}

article h1 {
  margin-bottom: 0.5em;
  border-bottom: 1px solid var(--color);
}

article h3 {
  margin-top: 1.5em;
  margin-bottom: 0.3em;
  color: var(--blue);
}
article h4 {
  margin-top: 1.0em;
  margin-bottom: 0.3em;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--orange);
}

article p {
  margin-bottom: 0.8em;
  font-size: 0.75em;
}

pre {
  background: var(--background2);
  /* margin: 0px; */
  padding: 12px;
  overflow-x: auto;
  border: 4px solid var(--dark-blue);
  line-height: 1.0;
}

code {
  font-family: monospace;
  font-size: 0.7em;
  color: var(--color);

}

.article-images{
  /* grid-column: 2; */
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
}
.article-audio{
  /* grid-column: 2; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin: 10px;
  gap: 10px;
}

.article-audio audio{
  width: 20%;
}

.viz {
  font-size: 0.85em;
}
